* {
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: border-box;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.section-1 {
    height: 100vh;
    width: 100%;
    background: url(images/background-img.jpeg) center no-repeat;
    background-size: cover;
    flex-direction: column;
}

.section-1-heading {
    color: white;
    background-color: #71C9CE;
    padding: 0.5rem 2rem;
    font-size: 4rem;
    border-bottom: 0.2rem solid white;
    font-weight: 700;
    letter-spacing: 0.5rem;
    margin-bottom: 4rem;

    transform: skew(-10deg);
}

.person-img {
    width: 20rem;
    height: 20rem;
    border-radius: 50%;
    border: 0.5rem dotted #E3FDFD;
    background-color: rgba(255, 255, 255, 0.7);
    opacity: 0.9;
    padding: 0.5rem;
}

.person-name {
    color: #222;
    background-color: #E3FDFD;
    font-size: 2rem;
    padding: 0.25rem 1rem;
    transform: skew(-10deg);
    margin: 3rem;
    letter-spacing: 0.2rem;
}

/* .section-1-btn {
    color: #333;
    background-color: white;
    border: 0.2rem solid #333;
    padding: 0.25rem 0.5rem;
    letter-spacing: 0.2rem;
    font-size: 1.5rem;
    font-weight: 700;
} */

.navbar {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 3rem;
    font-size: 1rem;
    background-color: #E3FDFD;
}

.navbar-link {
    font-size: 1.5rem;
    font-weight: 600;
    color: #333;
    margin: 0 2rem;
}

.section-2 {
    flex-direction: column;
    width: 100%;
    height: 100%;
    background-color: #222;
    padding: 10rem 0 5rem 0;
}

.section-2-heading {
    font-size: 4rem;
    color: #E3FDFD;
    letter-spacing: 0.2rem;
    border: 0.2rem solid #333;
    margin-bottom: 5rem;
}

.progress-bars-wrapper {}

.progress-bar {
    width: 50rem;
    height: 2.75rem;
    background-color: #ccc;
    border-radius: 0.2rem;
    margin: 1.5rem 0;
}

.progress-percent {
    background-color: #E3FDFD;
    border-radius: 0.2rem;
    width: 45rem;
    color: #222;
    font-size: 1.5rem;
    height: 2.75rem;
}

.progress-text {
    position: relative;
    top: 6px;
    left: 12px;
}

.css {
    width: 40rem;
}

.js {
    width: 30rem;
}

.cu {
    width: 46rem;
}

.ts {
    width: 41rem;
}

.services {
    height: 30vh;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.service {
    text-align: center;
}

.service i {
    font-size: 8rem;
    color: #888;
    margin-bottom: 1rem;
}

.service h2 {
    color: white;
    background-color: #777;
    font-size: 1.5rem;
    letter-spacing: 0.2rem;
    width: 16rem;
    transform: skew(-10deg);
}

.service:first-child,
.service:last-child {
    align-self: flex-start;
}


.section-3 {
    display: flex;
    width: 100%;
    height: 100%;
    background-color: #eef;
    padding: 5rem 0;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.section-3-heading {
    font-size: 4rem;
    color: #333;
    letter-spacing: 0.2rem;
    border-bottom: 0.2rem solid #333;
    margin-bottom: 5rem;
}

.projects-wrapper {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.project {
    margin: 1rem;
}

.project-img {
    width: 20rem;
    height: 20rem;
    object-fit: cover;
}

.section-4 {
    width: 100%;
    height: 70vh;
    background-color: #333;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.section-4-heading {
    color: white;
    border-bottom: 0.2rem solid #fff;
    margin-bottom: 2rem;
    font-size: 4rem;
    letter-spacing: 0.2rem;
}

.contact-form {
    display: flex;
    flex-direction: column;
    width: 40rem;
    gap: 12px;
}

.input-name {
    width: 100%;
    padding: 0.3rem;
    background-color: #eef;
    font-size: 1.2rem;
    border: 0.2rem solid #E3FDFD;
    color: #555;
}

.input-msg {
    width: 100%;
    padding: 0.3rem;
    border: 0.2rem solid #71C9CE;
    background-color: #eef;
    font-size: 1.2rem;
    color: #555;
    max-height: 10rem;
}

.contact-form-btn {
    background-color: #71C9CE;
    font-size: 1.2rem;
    padding: 0.5rem;
    border-radius: 0.3rem;
    color: white;
}

.section-5 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 30vh;
    background-color: #222;
}

.social-media-link {
    background-color: #71C9CE;
    border-radius: 0.3rem;
    margin: 0 1rem;
    padding: 1rem;
    text-decoration: none;
}

.social-media-link i {
    color: white;
    font-size: 2rem;
    text-align: center;
}

.copy-right {
    color: #aaa;
    font-size: 1rem;
    letter-spacing: 0.2rem;
    text-align: center;
    margin-top: 3rem;
}

@media (max-width:800px) {
    .section-1-heading {
        font-size: 2rem;
        padding: 0.1rem 0.5rem;
        margin-bottom: 2rem;
    }

    .person-img {
        width: 13rem;
        height: 13rem;
        padding: 0.2rem;
        border: 0.3rem dotted #E3FDFD;
    }

    .section-2 {
        padding: 5rem;
    }

    .section-2-heading {
        font-size: 2rem;
    }

    .progress-bar {
        width: 30rem;
        height: 2rem;
    }

    .progress-percent {
        width: 20rem;
        height: 2rem;
        font-size: 1rem;
    }

    .service i {
        font-size: 2rem;
        margin-bottom: 1rem;
    }

    .service h2 {
        color: white;
        background-color: #777;
        font-size: 0.6rem;
        letter-spacing: 0.2rem;
        width: 6rem;
    }

    .section-3-heading {
        font-size: 2rem;
    }

    .project-img {
        width: 12rem;
        height: 12rem;
        object-fit: cover;
    }

    .section-4-heading {
        font-size: 2rem;
    }

    .contact-form {
        width: 20rem;
    }

    .social-media-link {
        border-radius: 0.3rem;
        margin: 0 0.5rem;
        padding: 0.5rem;
    }

    .social-media-link i {
        color: white;
        font-size: 1rem;
        text-align: center;
    }

    .copy-right {
        font-size: 0.5rem;
    }
}

@media (max-width:600px) {
    .section-1 {
        
    } 
    .section-1-heading {
        font-size: 1.5rem;
        margin-bottom: 1rem;
    }

    .person-img {
        width: 7.5rem;
        height: 7.5rem;
    }

    .person-name {
        height: 2rem;
        font-size: 1.5rem;
    }
    .section-2-heading {
        font-size: 1.5rem;
        margin-bottom: 1rem;
    }
    .navbar-link {
        font-size: 1.1rem;
        font-weight: 500;
        color: #333;
        margin: 0 1rem;
    }
    .section-3-heading {
        font-size: 1.5rem;
        margin-bottom: 1rem;
    }
     .progress-bar {
        width: 30rem;
        height: 2rem;
    } 
    .css {
        width: 20rem;
    }
    
    .js {
        width: 10rem;
    }
    
    .cu {
        width:25rem;
    }
    
    .ts {
        width: 20rem;
    }
    
    .service i {
        font-size: 3rem;
        margin-bottom: 1rem;
    }
    @media (max-width:450px) {
        .progress-bar {
            width: 15rem;
            height: 2rem;
        } 
        .progress-text {
            font-size: 1rem;
        }
        .ht {
            width: 12rem;
        }
        .css {
            width: 10rem;
        }
        
        .js {
            width: 7rem;
        }
        
        .cu {
            width: 12rem;
        }
        
        .ts {
            width: 10rem;
        }
        .service i {
            font-size: 4rem;
            margin-bottom: 1rem;
        }
        .service-heading {
            font-size: 18px !important;
        }
        .copy-right {
            font-size: 14px;
        }
    }
}